*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* main containet */
.main_container{
    background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
}

/* ALL Buttons */
.allButtons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        .input_box {
            margin-bottom: 15px;
        }
        #input_box {
            width: 100%;
            height: 50px;
            font-size: 24px;
            text-align: right;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 10px;
            outline: none;
            transition: all 0.3s ;
            caret-color: #79f9ea; /* Changes the cursor color */
            color: #969696;
            &:focus{
                border: 3px solid #56DFCF;
                outline: 3px solid #5cd9ca;
            }
        }
        /* each buttons */
        button{
            background-color: #fff;
            color: rgb(121, 121, 121);
            padding: 15px 0;
            border: none;
            box-shadow: 0 2px 5px rgb(122, 121, 121) ;
            border-radius: 10px;
            font: 1.2em sans-serif;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
            color: #56DFCF;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            }
        }
        button.operator {
            background-color: #ff9500;
            color: white;
            grid-column: 4;
        }
        button.operator:hover {
            background-color: #e68a00;
        }
        button.equals {
            background-color: #28a745;
            color: white;
            grid-column: 3 / span 2;
        }
        button.equals:hover {
            background-color: #218838;
        }
        button.clear {
            background-color: #dc3545;
            color: white;
            grid-column: 4;
        }
        button.clear:hover {
            background-color: #c82333;
        }
         /* Zero button spans two columns */
        button.zero {
            grid-column: 1 / span 2;
        }
         /* Number buttons */
        button.number {
            grid-column: span 1;
        }
        /* Decimal button */
        button.decimal {
            grid-column: 3;
        }